{
  "format": "api_contract_pack_v1",
  "release": {
    "contract_id": "CONTRACT-DEPOSIT-3847-V1",
    "environment": "production",
    "status": "published",
    "current": true,
    "effective_at": "2024-06-11T09:00:00-04:00",
    "snapshot_at": "2024-06-11T13:12:00-04:00",
    "superseded_by": null
  },
  "cover_email": "From: Dario Lenz <dario.lenz@rho-bank.com>\nTo: Deposit Desk Support <deposit-desk-support@rho-bank.com>\nCc: Deposit Platform Engineering <deposit-platform-eng@rho-bank.com>\nDate: Tue, 11 Jun 2024 14:02:53 -0400\nSubject: deposit-lookup suite contract pack v1 (production)\nMessage-ID: <5b91e04c7ad233@rho-bank.com>\nMIME-Version: 1.0\nContent-Type: text/plain; charset=\"utf-8\"\n\nTeam,\n\nFirst production cut of the deposit-lookup contract pack is attached. This is the reference for the two gateway tools the desk consoles read from: the account lookup (get_all_user_accounts_by_user_id_3847), which returns the customer's checking accounts, and the transactions read (get_bank_account_transactions_9173).\n\nContents follow the standard pack layout: the OpenAPI document, a Postman collection wired for the internal gateway, the error-behavior table as CSV, and record-contract notes with worked examples. Work from the pack rather than from screenshots of the gateway explorer — the explorer lags the definition, and that gap has already produced two tickets this quarter.\n\nQuestions to the platform channel. If a field you need is not in the contract, ask for it there too; please do not parse it out of description text.\n\nDario",
  "openapi": {
    "openapi": "3.1.0",
    "info": {
      "title": "Deposit Services — deposit-lookup suite",
      "version": "1.0.0",
      "description": "Contract for the Rho Bank deposit-lookup suite: the account lookup and the transactions read, as the production gateway defines them. Record semantics and worked examples live in the record contract notes shipped with this pack.",
      "x-contract-id": "CONTRACT-DEPOSIT-3847-V1",
      "x-contract-status": "published",
      "x-environment": "production",
      "x-effective-at": "2024-06-11T09:00:00-04:00",
      "x-superseded-by": null,
      "x-source-of-truth": "Rho Bank internal API gateway, deposit-services namespace"
    },
    "servers": [
      {
        "url": "https://gateway.internal.rho-bank.com/deposit-services/v1",
        "description": "Internal production gateway. Reachable only from the internal environment; callers must hold an authenticated internal-environment session."
      }
    ],
    "paths": {
      "/accounts/by-user": {
        "get": {
          "operationId": "get_all_user_accounts_by_user_id_3847",
          "summary": "List a customer's checking accounts",
          "description": "Returns the customer's checking accounts. The call takes the customer's user_id and answers with one record per account on the profile; record fields are described in the record contract notes.",
          "parameters": [
            {
              "name": "user_id",
              "in": "query",
              "required": true,
              "description": "The customer's user identifier (profile-level, RB-prefixed). Account ids do not resolve here.",
              "schema": { "type": "string", "pattern": "^RB-[0-9]{7}$" }
            }
          ],
          "security": [{ "internalSso": ["deposit-services.accounts.read"] }],
          "responses": {
            "200": {
              "description": "Success. The body echoes the user_id and carries accounts as a collection of account records; an empty collection means the profile has no open accounts and is a success, not a fault.",
              "content": {
                "application/json": {
                  "schema": { "$ref": "#/components/schemas/UserAccountsResponse" },
                  "examples": {
                    "profile_fixture": {
                      "summary": "Customer with two open accounts",
                      "value": {
                        "user_id": "RB-9980121",
                        "accounts": [
                          {
                            "account_id": "RBA-98-10428",
                            "status": "open",
                            "balance": 981.12,
                            "date_opened": "2022-08-19"
                          },
                          {
                            "account_id": "RBA-98-10561",
                            "status": "open",
                            "balance": 3204.55,
                            "date_opened": "2024-03-08"
                          }
                        ]
                      }
                    },
                    "no_open_accounts": {
                      "summary": "Profile with no open accounts (successful empty collection)",
                      "value": {
                        "user_id": "RB-9980007",
                        "accounts": []
                      }
                    }
                  }
                }
              }
            },
            "400": { "description": "INVALID_USER_ID — the identifier did not resolve to a customer profile. See the error-behavior table." },
            "401": { "description": "UNAUTHENTICATED — no valid internal-environment session. See the error-behavior table." },
            "403": { "description": "PERMISSION_DENIED — the caller's role lacks deposit-services.accounts.read. See the error-behavior table." }
          }
        }
      },
      "/accounts/transactions": {
        "get": {
          "operationId": "get_bank_account_transactions_9173",
          "summary": "List transactions for a bank account",
          "description": "Returns the transaction history for a bank account, one account per call, in reverse chronological order (most recent first). Take account_id values from the account lookup.",
          "parameters": [
            {
              "name": "account_id",
              "in": "query",
              "required": true,
              "description": "The bank account to read. Use the account_id values the account lookup returns; profile-level ids do not resolve here.",
              "schema": { "type": "string" }
            }
          ],
          "security": [{ "internalSso": ["deposit-services.transactions.read"] }],
          "responses": {
            "200": {
              "description": "Success. The body echoes the account_id and carries transactions as a collection of transaction records; an account with no activity returns an empty collection.",
              "content": {
                "application/json": {
                  "schema": { "$ref": "#/components/schemas/TransactionsResponse" },
                  "examples": {
                    "account_fixture": {
                      "summary": "Recent activity on an account",
                      "value": {
                        "account_id": "RBA-98-10428",
                        "transactions": [
                          {
                            "transaction_id": "TXN-98-40917",
                            "account_id": "RBA-98-10428",
                            "date": "06/05/2024",
                            "description": "ACH TRANSFER IN - SANDBOX PAYROLL",
                            "amount": 1412.09,
                            "type": "ach_transfer_in",
                            "status": "posted"
                          },
                          {
                            "transaction_id": "TXN-98-40802",
                            "account_id": "RBA-98-10428",
                            "date": "05/28/2024",
                            "description": "ATM WITHDRAWAL - BRANCH LOBBY 02",
                            "amount": -40,
                            "type": "atm_withdrawal",
                            "status": "posted"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            },
            "400": { "description": "INVALID_ACCOUNT_ID — the identifier did not resolve to a bank account. See the error-behavior table." },
            "401": { "description": "UNAUTHENTICATED — no valid internal-environment session. See the error-behavior table." },
            "403": { "description": "PERMISSION_DENIED — the caller's role lacks deposit-services.transactions.read. See the error-behavior table." }
          }
        }
      }
    },
    "components": {
      "schemas": {
        "UserAccountsResponse": {
          "type": "object",
          "required": ["user_id", "accounts"],
          "properties": {
            "user_id": { "type": "string" },
            "accounts": {
              "type": "array",
              "description": "Collection of account records for the customer. Empty when the profile has no open accounts.",
              "items": { "$ref": "#/components/schemas/AccountRecord" }
            }
          }
        },
        "AccountRecord": {
          "type": "object",
          "required": ["account_id", "status", "balance", "date_opened"],
          "properties": {
            "account_id": { "type": "string", "description": "Identifier for the account; the transactions read takes this value." },
            "status": { "type": "string", "description": "Account standing as reported by the platform." },
            "balance": { "type": "number", "description": "Current balance in USD." },
            "date_opened": { "type": "string", "format": "date", "description": "When the account was opened." }
          }
        },
        "TransactionsResponse": {
          "type": "object",
          "required": ["account_id", "transactions"],
          "properties": {
            "account_id": { "type": "string" },
            "transactions": {
              "type": "array",
              "description": "Collection of transaction records for the account, most recent first. Empty when the account has no activity.",
              "items": { "$ref": "#/components/schemas/TransactionRecord" }
            }
          }
        },
        "TransactionRecord": {
          "type": "object",
          "required": ["transaction_id", "account_id", "date", "description", "amount", "type", "status"],
          "properties": {
            "transaction_id": { "type": "string" },
            "account_id": { "type": "string" },
            "date": { "type": "string", "description": "Transaction date, MM/DD/YYYY." },
            "description": { "type": "string" },
            "amount": { "type": "number", "description": "Signed USD amount: credits positive, debits negative." },
            "type": { "type": "string", "description": "Platform transaction-type label (deposits, card activity, transfers, fees, interest credits)." },
            "status": { "type": "string", "enum": ["posted", "pending"] }
          }
        }
      }
    }
  },
  "postman_collection": {
    "info": {
      "_postman_id": "9c4f2b61-07da-4e3b-b2c8-54a9e1f0d7c2",
      "name": "Deposit Services — deposit-lookup suite (3847/9173) v1",
      "description": "Requests against the internal production gateway. Set the {{gateway}} variable and sign on through the internal SSO helper before running anything; unauthenticated calls return 401 by design.",
      "schema": "https://schema.getpostman.com/json/collection/v2.1.0/collection.json"
    },
    "variable": [
      { "key": "gateway", "value": "https://gateway.internal.rho-bank.com/deposit-services/v1" }
    ],
    "item": [
      {
        "name": "Accounts by user — profile fixture",
        "request": {
          "method": "GET",
          "header": [{ "key": "Accept", "value": "application/json" }],
          "url": {
            "raw": "{{gateway}}/accounts/by-user?user_id=RB-9980121",
            "host": ["{{gateway}}"],
            "path": ["accounts", "by-user"],
            "query": [{ "key": "user_id", "value": "RB-9980121" }]
          }
        }
      },
      {
        "name": "Transactions — account fixture",
        "request": {
          "method": "GET",
          "header": [{ "key": "Accept", "value": "application/json" }],
          "url": {
            "raw": "{{gateway}}/accounts/transactions?account_id=RBA-98-10428",
            "host": ["{{gateway}}"],
            "path": ["accounts", "transactions"],
            "query": [{ "key": "account_id", "value": "RBA-98-10428" }]
          }
        }
      }
    ]
  },
  "error_behavior_columns": [
    "rule_id",
    "status",
    "environment",
    "audience",
    "http_status",
    "condition",
    "response_code",
    "notes",
    "updated_at",
    "superseded_by"
  ],
  "error_behavior": [
    {
      "rule_id": "ERR-3847-400",
      "status": "current",
      "environment": "production",
      "audience": "internal",
      "http_status": 400,
      "condition": "user_id does not resolve to a customer profile",
      "response_code": "INVALID_USER_ID",
      "notes": "The identifier is validated before the accounts store is touched; nothing is queried on a 400.",
      "updated_at": "2024-06-11T09:00:00-04:00",
      "superseded_by": null
    },
    {
      "rule_id": "ERR-9173-400",
      "status": "current",
      "environment": "production",
      "audience": "internal",
      "http_status": 400,
      "condition": "account_id does not resolve to a bank account",
      "response_code": "INVALID_ACCOUNT_ID",
      "notes": "Use the account_id values the account lookup returns; profile-level ids do not resolve here.",
      "updated_at": "2024-06-11T09:00:00-04:00",
      "superseded_by": null
    },
    {
      "rule_id": "ERR-SUITE-401",
      "status": "current",
      "environment": "production",
      "audience": "internal",
      "http_status": 401,
      "condition": "no valid internal-environment session accompanies a call to either suite tool",
      "response_code": "UNAUTHENTICATED",
      "notes": "Sign on through the internal SSO helper and retry.",
      "updated_at": "2024-06-11T09:00:00-04:00",
      "superseded_by": null
    },
    {
      "rule_id": "ERR-SUITE-403",
      "status": "current",
      "environment": "production",
      "audience": "internal",
      "http_status": 403,
      "condition": "the authenticated caller's role lacks the deposit-services read grant for the tool called",
      "response_code": "PERMISSION_DENIED",
      "notes": "Role grants are provisioned per support role; ask the platform channel if a grant looks missing.",
      "updated_at": "2024-06-11T09:00:00-04:00",
      "superseded_by": null
    }
  ],
  "record_contract_notes": "# Deposit-lookup suite — record contract notes\n\nContract: `CONTRACT-DEPOSIT-3847-V1`\nEnvironment: production · Status: published · Effective 2024-06-11\nOwner: Deposit Platform Engineering (Dario Lenz)\n\nTwo tools ship under this contract: the account lookup and the transactions read. Both live on the internal gateway; calls need an authenticated internal-environment session and the deposit-services read roles. The pack documents what the services take and return — what any desk does with an answer belongs to that desk's own procedures.\n\n## get_all_user_accounts_by_user_id_3847\n\n### Purpose\n\nThe account lookup returns the customer's checking accounts. It takes the customer's user_id — one customer per call — and answers with one record per account on the profile.\n\n### When to use\n\nThe gateway catalog publishes a usage note with the contract, and desk tooling inherits it as written:\n\n- Backs the desk's account-standing and balance reads.\n- The place account details for support inquiries come from.\n- Feeds account inventories to the desk consoles and the nightly reporting jobs.\n\n### Response contract\n\nA successful response echoes the `user_id` and carries `accounts` as a collection of account records.\n\n| Field | Notes |\n|---|---|\n| `account_id` | identifier for the account; the transactions read takes this value |\n| `status` | account standing as reported by the platform |\n| `balance` | current balance in USD |\n| `date_opened` | when the account was opened |\n\nWorked example:\n\n```json\n{\n  \"user_id\": \"RB-9980121\",\n  \"accounts\": [\n    { \"account_id\": \"RBA-98-10428\", \"status\": \"open\", \"balance\": 981.12, \"date_opened\": \"2022-08-19\" },\n    { \"account_id\": \"RBA-98-10561\", \"status\": \"open\", \"balance\": 3204.55, \"date_opened\": \"2024-03-08\" }\n  ]\n}\n```\n\n#### The empty case\n\n```json\n{ \"user_id\": \"RB-9980007\", \"accounts\": [] }\n```\n\nA 200 with an empty `accounts` collection means the profile holds no open accounts; it is a success, not a fault, and it needs no retry.\n\n## get_bank_account_transactions_9173\n\n### Purpose\n\nThe transactions read returns the transaction history for a bank account, one account per call, in reverse chronological order — most recent first. Take `account_id` values from the account lookup.\n\n### Response contract\n\nA successful response echoes the `account_id` and carries `transactions` as a collection of transaction records: `transaction_id`, `account_id`, `date` (MM/DD/YYYY), `description`, a signed `amount` in USD (credits positive, debits negative), the platform's `type` label, and a `status` of `posted` or `pending`.\n\n```json\n{\n  \"account_id\": \"RBA-98-10428\",\n  \"transactions\": [\n    { \"transaction_id\": \"TXN-98-40917\", \"account_id\": \"RBA-98-10428\", \"date\": \"06/05/2024\", \"description\": \"ACH TRANSFER IN - SANDBOX PAYROLL\", \"amount\": 1412.09, \"type\": \"ach_transfer_in\", \"status\": \"posted\" },\n    { \"transaction_id\": \"TXN-98-40802\", \"account_id\": \"RBA-98-10428\", \"date\": \"05/28/2024\", \"description\": \"ATM WITHDRAWAL - BRANCH LOBBY 02\", \"amount\": -40, \"type\": \"atm_withdrawal\", \"status\": \"posted\" }\n  ]\n}\n```\n\n## Boundaries\n\nThe contract documents what the suite returns, not what any team should do with it. Desk procedure stays with the desks. Example values in this pack are sandbox fixtures (the RB-998 / RBA-98 range), not production records.\n\n## Changelog\n\n- **v1 (2024-06-11)** — first published pack for the deposit-lookup suite.\n"
}
